# Ignorar TODO por defecto para no subir el código fuente
/*

# Excepciones: Archivos que SÍ queremos en GitHub (Web y Verificación)
!.gitignore
!index.html
!privacy.html
!manifest.json
!google9312739a0adb99dd.html
!webapp/
!webapp/*.mp3
!app/
!app/src/
!app/src/main/
!app/src/main/assets/
!app/src/main/assets/recipes.json
!app/src/main/assets/recipes_delta.json
!CocinaREcetas.apk

# Ignorar archivos temporales
.DS_Store
Thumbs.db
/build
